.flow-panel-base {
    display: flex;
    flex-direction: column;
}

.flow-panel-header {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: left;
    width: 100%;
    padding-top: 0.5rem;
}

.flow-panel-header-button {
    width: 10rem;
}